.btn {
  display: inline-block;
  padding: 8px 25px;
  color: black;
  font-size: 12px;
  border: 1px solid;

  &:hover {
    color: white;
    background: $gold;
    border-color: $gold;
  }
}

.btn--light {
  color: $gold;

  &:hover {
    color: white;
    background: $gold;
    border-color: $gold;
  }
}