.btn {
  display: inline-block;
  padding: 6px 24px;
  color: black;
  font-size: 12px;
  border: 1px solid;

  &:hover {
    color: white;
    background: $gold;
    border-color: $gold;
  }
}

.btn--light {
  color: $gold;

  &:hover {
    color: white;
    background: $gold;
    border-color: $gold;
  }
}

.btn--more {
  padding: 5px 22px;
  background-color: transparent;
}
