.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-perspective: 12rem;
  -moz-perspective: 12rem;
  -ms-perspective: 12rem;
  -o-perspective: 12rem;
  perspective: 12rem;

  z-index: 2000;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s cubic-bezier(0.4, 0, 1, 1);

  &.fade {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace-active {
  background-color: #000;
  width: 100%;
  height: 100%;
}

.pace-activity {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -160px;
  background-image: url("/sites/all/themes/december/images/logo_text.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 1, 1)
}

.pace-inactive .pace-activity {
  opacity: 0;
  z-index: -1;
}