.related {
  padding: 40px 8px 50px;
  text-align: center;
  font-size: 12px;
  max-width: 1020px;
  margin: 0 auto;
}

.related__title {
  font-size: 20px;
  margin: 0 0 20px;
}

.related__item {
  height: 400px;

  @include col(1/3);
  @include bg-img();

  &:last-child {
    margin-right: 0;
  }
}

.related__item {
  position: relative;

  .related__item-info {
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: $gold;
    transition: 0.3s ease-in;
  }

  .related__item-title {
    font-size: 30px;
    padding: 100px 0;

    &:after {
      content: ' ';
      border-bottom: 2px solid;
      display: block;
      position: absolute;
      min-width: 20px;
      left: 49%;
      right: 49%;
      padding-top: 20px;
    }
  }

  .related__item-date-place {
    margin-bottom: 30px;
  }

  &:hover {
    .related__item-info {
      opacity: 1;
    }
  }
}