$hero-height: 800px;

$gold: #c88e50;

@mixin bg-img() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin title-quote() {
  &:before {
    content: '「';
  }
  &:after {
    content: '」';
  }
}

@mixin title-line {
  &:after {
    content: ' ';
    border-bottom: 1px solid;
    display: block;
    position: absolute;
    min-width: 20px;
    left: 49%;
    right: 49%;
    padding-top: 20px;
  }
}