@import "jeet/index";

@import "reset";
@import "variables";
@import "iconfont/iconfont";

@import "partial/nav";
@import "partial/button";
@import "partial/footer";
@import "partial/related";

@import "page/page";
@import "page/homepage";
@import "page/product";
@import "page/products-list";
@import "page/control";
@import "page/services";
@import "page/galleries";
@import "page/contact";

@import "page/webform";

body {
  color: #333;
  font-family: Times, "Microsoft Yahei", STHeiti, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  color: #333;
  transition: 0.2s ease-in;
  &:hover {
    color: $gold;
  }
}

.row:after {
  clear: both;
  content: ' ';
  display: table;
}

* {
  box-sizing:border-box;
}

.clearfix:after {
  content: '';
}