.admin__setting {
  position: absolute;
  padding: 10px;
  background-color: #c00;
  width: 100px;
  transition: 0.2s ease-in;

  &:hover {
    background-color: $gold;
  }
  .link {
    color: #fff;
  }
}