@mixin link-hover() {
  background-color: $gold;
  color: #fff;
  text-decoration: none;
}

.control {
  line-height: 40px;
  position: relative;
  margin-bottom: 40px;

  .link {
    color: $gold;
  }
}

.control__type--unit {
  display: inline-block;

  &.active,
  &:hover {
    .link {
      @include link-hover();
    }
  }

  .link {
    padding: 10px 20px;
  }

  .link--switch {
    padding: 5px 8px;
  }
}

.control__switch {
  position: absolute;
  right: 0;
  top: 0;

  a {
    display: inline-block;
    padding: 10px;
    line-height: 20px;
  }

  a.active,
  a:hover {
    @include link-hover();
  }
}