@import "admin";

.product__detail {
  padding: 20px 150px 50px;
  text-align: center;
  font-size: 12px;
  max-width: 960px;
  margin: 0 auto;
}

.product__title {
  margin: 10px 0;
  font-size: 28px;

  @include title-quote();
}

.product__info {
  color: #666;
  margin: 10px 0;
  line-height: 22px;

  &:after {
    content: ' ';
    display: block;
    margin: 15px auto;
    width: 30px;
    border-bottom: 1px solid;
  }
}

.product__main {
  margin: 20px 0 30px;
  line-height: 22px;
}

.product__photo-item {
  margin: 10px 0;
  img {
    width: 100% !important;
    height: auto !important;
    //TODO: change to background image if needed;
  }
}

.product__video {
  embed {
    width: 100%;
    height: 500px;
  }
}

.related {
  padding: 50px 150px;
  text-align: center;
}

.related__title {
  font-size: 20px;
  margin: 0 0 20px;
}

.related__item {
  float: left;
  width: 31%;
  height: 400px;
  margin-right: 2%;
  @include bg-img();

  &:last-child {
    margin-right: 0;
  }
}

.products__unit {
  margin: 50px 0;
  list-style: none;

  .product {
    margin: 50px 0;
  }

  .background {
    .img, embed {
      height: 350px;
      width: 100%;
    }

    .img {
      @include bg-img();
    }
  }

  .desc {
    margin-top: 30px;
    text-align: right;
  }

  .desc__title {
    font-size: 20px;
  }

  .desc__info {
    color: #7e7e7e;
    padding: 10px 0;

    &:after {
      content: '>';
    }
  }
}

.products__unit--row-two {
  @include cf();

  .product {
    @include col(1/2);

    .img, embed {
      height: 260px;
    }
  }

  .background {
    text-align: right;
  }

  .product:last-child {
    .img, embed {
      width: 80%;
      height: 220px;
    }

    .img {
      margin-right: 0;
      margin-left: auto;
    }
  }
}