.slogan {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.slogan__title, .process__title {
  font-size: 25px;
  text-transform: uppercase;
  color: $gold;
  position: relative;

  &:after {
    content: ' ';
    border-bottom: 2px solid;
    display: block;
    position: absolute;
    min-width: 20px;
    left: 49%;
    right: 49%;
    padding-top: 20px;
  }
}

.slogan__intro {
  margin: 30px 0;

  p {
    padding: 10px 0;
    font-size: 11px;
  }
}

.delicate {
  @include cf();
}

.delicate__unit {
  @include col(1/6);
  height: 130px;

  @include bg-img();
  background-size: contain;

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
//      background-image: url('/sites/all/themes/december/images/services/2.1-#{$i}.png');
      background-image: url('/images/services/2.1-#{$i}.png');
    }

  }
}

.delicate__text {
  padding-top: 32%;
  color: #fff;
}

.delicate__text--dash {
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto 20px;
}

.services__hero--ring {

}

.process__content {
  @include cf();

  margin-top: 60px;
}

.process__unit {
  @include column(1/3, $cycle: 3);
}

.process__unit--img {
  height: 100px;
}

.process__unit--title {
  font-size: 20px;
  color: $gold;
}

.process__unit--desc {
  padding: 10px 50px;
  line-height: 24px;
  font-size: 11px;
  text-align: left;
}