.homepage__hero {
  background: url('/sites/default/files/files/images/background/hero.png');
  background-attachment: fixed;
  @include bg-img();

  width: 100%;
  height: $hero-height;
  z-index: -1;

  @include bp($bp-width) {
    height: 550px;
    background-attachment: scroll;
  }

  .homepage__logo-wrapper {
    width: 300px;
    margin: 0 auto;
    padding-top: 300px;
  }
  .homepage__logo {
    width: 100%;
  }
}

.homepage__content {
  background: transparent;
  position: relative;
  &:before {
    content: ' ';
    display: block;
    background-image: url("/sites/all/themes/december/images/logo_text.png");
    @include bg-img();
    background-size: contain;
    text-align: center;
    position: absolute;
    top: -500px;
    left: 40%;
    width: 20%;
    height: 500px;

    @include bp($bp-width) {
      top: -460px;
      left: 20%;
      width: 60%;
    }
  }
}

.homepage__content-wrapper {
  background: white;
}


.homepage__product, .homepage__service {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 8px 60px;
  text-align: center;
}

.homepage__title, .lightbox__title {
  font-size: 26px;
  text-transform: uppercase;
  color: $gold;
  position: relative;

  &:after {
    content: ' ';
    border-bottom: 1px solid;
    display: block;
    padding-top: 20px;
    width: 20px;
    margin: 0 auto;

    transition: width 0.7s 0.2s;
  }
}

.homepage__intro, .lightbox__intro {
  margin: 50px 0;
  line-height: 16px;
  p {
    padding: 10px 0;
    font-size: 12px;
  }
}

.homepage__product-detail {
  width: 100%;
  height: 430px;
  overflow: hidden;
  position: relative;

  .image {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    @include bg-img();
    transition: all 0.7s;
  }

  .homepage__product-info {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: $gold;
    transition: all 0.7s;

    @include bp($bp-width) {
      text-align: left;
      height: 100px;
      top: auto;
      opacity: 0.8;
      padding-left: 30px;
      color: #fff;
    }
  }

  .homepage__product-title {
    font-size: 25px;
    padding: 20% 0 15px;

    &:after {
      content: ' ';
      border-bottom: 1px solid;
      display: block;
      padding-top: 15px;
      width: 20px;
      margin: 0 auto;

      transition: width 0.5s 0.2s;
    }


    @include bp($bp-width) {
      content: none;
      padding: 30px 0 15px;
      text-align: left;
      text-indent: -10px;

      &:after {
        content: none;
      }
    }
  }

  .homepage__product-date-place {
    font-size: 12px;
    margin-bottom: 30px;
  }

  &:hover {
    .image {
      transform: scale(1.25);
    }
    .homepage__product-info {
      opacity: 1;
    }

    .homepage__product-title {
      &:after {
        width: 100px;
      }
    }
  }
}

.homepage__product-detail--row {
  float: left;
  width: 49.25%;
  height: 300px;
  margin: 15px 0 30px;

  &:first-child {
    margin-right: 1.5%;
  }

  @include bp($bp-width) {
    width: 100%;
    height: 430px;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.homepage__sub-hero {
  height: 400px;
  background-image: url('/sites/default/files/files/images/background/sub-hero.png');
  background-attachment: fixed;
  @include bg-img();

  @include bp($bp-width) {
    background-attachment: scroll;
  }
}

.show-link embed {
  width: 100%;
}