.homepage__hero {
  background: url("/sites/all/themes/december/images/hero.png");
  background-attachment: fixed;
  @include bg-img();
  width: 100%;
  height: $hero-height;
  z-index: -1;

  .homepage__logo-wrapper {
    width: 300px;
    margin: 0 auto;
    padding-top: 300px;
  }
  .homepage__logo {
    width: 100%;
  }
}

.homepage__content {
  background: transparent;
  position: relative;
  &:before {
    content: ' ';
    display: block;
    background-image: url("/sites/all/themes/december/images/logo_text.png");
    @include bg-img();
    text-align: center;
    position: absolute;
    top: -500px;
    left: 40%;
    width: 20%;
    height: 500px;
  }
}

.homepage__content-wrapper {
  background: white;
}


.homepage__product, .homepage__service {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.homepage__title, .lightbox__title {
  font-size: 26px;
  text-transform: uppercase;
  color: $gold;
  position: relative;

  &:after {
    content: ' ';
    border-bottom: 2px solid;
    display: block;
    position: absolute;
    min-width: 20px;
    left: 49%;
    right: 49%;
    padding-top: 20px;
  }
}

.homepage__intro, .lightbox__intro {
  margin: 50px 0;
  line-height: 16px;
  p {
    padding: 10px 0;
    font-size: 12px;
  }
}

.homepage__product-detail {
  width: 100%;
  height: 430px;
  position: relative;
  @include bg-img();

  .homepage__product-info {
    opacity: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: $gold;
    transition: 0.3s ease-in;
  }

  .homepage__product-title {
    font-size: 30px;
    padding: 15% 0 50px;

    &:after {
      content: ' ';
      border-bottom: 2px solid;
      display: block;
      position: absolute;
      min-width: 20px;
      left: 49%;
      right: 49%;
      padding-top: 20px;
    }
  }

  .homepage__product-date-place {
    margin-bottom: 30px;
  }

  &:hover {
    .homepage__product-info {
      opacity: 1;
    }
  }
}

.homepage__product-detail--row {
  float: left;
  width: 49%;
  height: 300px;
  margin: 16px 0;

  &:first-child {
    margin-right: 2%;
  }
}

.homepage__sub-hero {
  height: 400px;
  background-image: url('/sites/all/themes/december/images/service.png');
  background-attachment: fixed;
}