@import "admin";

.product__detail {
  padding: 40px 8px 50px;
  text-align: center;
  font-size: 12px;
  max-width: 1020px;
  margin: 0 auto;
}

.product__title {
  margin: 10px 0;
  font-size: 28px;

  @include title-quote();
}

.product__info {
  color: #666;
  margin: 10px 0;
  line-height: 22px;

  &:after {
    content: ' ';
    display: block;
    margin: 15px auto;
    width: 30px;
    border-bottom: 1px solid;
  }
}

.product__main {
  margin: 20px 0 30px;
  line-height: 22px;
}

.product__photo-item {
  margin: 10px 0;
  p {
    overflow: hidden;
  }

  img {
    width: 100% !important;
    height: auto !important;

    transition: all .5s ease-out;

    &:hover {
      transform: scale(1.25);
    }
  }
}

.product__video {
  embed {
    width: 100%;
    height: 500px;
  }
}

.products__unit {
  margin-bottom: 50px;
  list-style: none;

  .product {
    margin-bottom: 100px;
  }

  .background {
    overflow: hidden;

    .img, embed {
      height: 350px;
      width: 100%;
      transition: all .5s ease-out;

      &:hover {
        transform: scale(1.25);
      }

    }

    .img {
      @include bg-img();
    }
  }

  .desc {
    margin-top: 30px;
    text-align: right;
  }

  .desc__title {
    font-size: 25px;
  }

  .desc__info {
    color: #7e7e7e;
    padding: 10px 0;

    &:after {
      content: '>';
    }
  }
}

.products__unit--row-one {
  .background {
    .img, embed {
      height: 520px;
    }
  }
}

.products__unit--row-two {
  @include cf();

  .product {
    @include col(1/2);

    .img, embed {
      height: 300px;
    }
  }

  .background {
    text-align: right;
  }

  .product:nth-child(2) {
    .img, embed {
      width: 83%;
      height: 250px;
    }

    .img {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
