.product__detail--list {
  position: relative;

  @include cf();

  .text {
    padding-right: 1%;
    width: 21%;
    min-width: 180px;
    float: left;
    text-align: left;
  }

  .show {
    width: 78%;
    float: left;

    .image,
    embed {
      width: 100%;
      height: 430px;
    }

    .image {
      @include bg-img();
    }
  }

  .item-list {
    position: absolute;
    bottom: 0;
  }
}

.product__content {
  padding-bottom: 50px;

  .title {
    font-size: 24px;
    margin-left: -13px;

    @include title-quote();
  }

  .info {
    color: #666;
    margin: 10px 0;
  }

  .main {
    margin: 20px 0;
    line-height: 22px;
  }
}

.product__next {
  float: left;
}

.product__next-unit {
  height: 24px;

  a {
    &.active {
      color: $gold;
    }
    @include title-quote()
  }
}

.views-row {
  display: none;
}