.slogan {
  width: 100%;
  margin: 0 auto;
  padding: 60px 0 20px;
  text-align: center;
}

@include bp($bp-width) {
  .slogan--service {
    padding-top: 0;
  }
}

.slogan__title, .process__title {
  font-size: 25px;
  text-transform: uppercase;
  color: $gold;
  position: relative;

  @include title-line();
}

.slogan__intro {
  margin: 30px 0;

  p {
    padding: 10px 0;
    font-size: 11px;
  }
}

.delicate {
  padding: 0 22px;
  @include cf();
}

.delicate__unit {
  @include col(1/6, $gutter: 4.2);

  @include bp($bp-width) {
    @include col(1/3, $cycle: 3, $gutter: 4.2);
  }
  height: 130px;

  @include bg-img();
  background-size: contain;

  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      background-image: url('/sites/all/themes/december/images/services/2.1-#{$i}.png');
//     background-image: url('/images/services/2.1-#{$i}.png');
    }

  }
}

.delicate__text {
  padding-top: 40px;
  color: #fff;
}

.delicate__text--dash {
  display: block;
  width: 10px;
  height: 1px;
  background-color: #fff;
  margin: 0 auto 20px;
}

.delicate__text--en {
  font-size: 14px;
  margin-bottom: 10px;

  @include bp($bp-width) {
    font-size: 12px;
  }
}

.process {
  margin-top: 30px;
}

.process__content {
  @include cf();

  margin-top: 60px;
}

.process__unit {
  @include column(1/3, $cycle: 3);

  @include bp($bp-width) {
    float: none;
    width: 100%;
    margin-bottom: 60px;
  }
}

.process__unit--img {
  height: 100px;
}

.process__unit--title {
  font-size: 20px;
  color: $gold;
}

.process__unit--desc {
  padding: 10px 50px;
  line-height: 24px;
  font-size: 11px;
  text-align: left;

  @include bp($bp-width) {
    line-height: 30px;
    font-size: 14px;
    text-align: center;
  }
}

.services__hero--ring {
  background-image: url('/sites/all/themes/december/images/services/hero-ring.png');
//  background-image: url('/images/services/hero-ring.png');
  background-attachment: fixed;
  @include bg-img();

  @include bp($bp-width) {
    background-attachment: scroll;
    height: 350px;
  }
}

.services__hero--footer {
  background-image: url('/sites/all/themes/december/images/services/hero-foot.png');
//  background-image: url('/images/services/hero-foot.png');
  background-attachment: fixed;
  @include bg-img();

  .container {
    height: 330px;
  }

  @include bp($bp-width) {
    background-attachment: scroll;
    height: 350px;

    .quote__text .row-two {
      padding-left: 20%;
    }

    .quote__sign {
      text-align: right;
    }

    .container {
      height: auto;
    }
  }
}

.quote {
  width: 50%;
  margin: 0 auto;
  padding: 150px 0;
  text-align: center;

  @include bp($bp-width) {
    width: 80%;
    padding-top: 100px;
    text-align: left;

    .quote__text {
      line-height: 30px;
    }
  }
}

.quote__text {
  line-height: 26px;

  p:first-child {
    &:before {
      content: '「';
    }
  }

  p:last-child {
    &:after {
      content: '」';
    }
  }

  .row-two {
    padding-left: 40%;
  }

  .row-three {
    padding-left: 25%;

  }
}

.quote__sign {
  margin-top: 30px;
  padding-right: 20px;
  text-align: right;

  img {
    width: 90px;
  }

  @include bp($bp-width) {
    text-align: left;
    padding-left: 25%;
  }
}

.container--service-top {
  padding-top: 40px;

  @include bp($bp-width) {
    padding-top: 0;
  }
}
.container--service-content {
  padding-bottom: 50px;
}